{% extends 'base.html' %}
{% block title %}BackTesting{% endblock %}
{% block nav_title %}BackTesting{% endblock %}

{% load static %}

{% block action_bar %}

{% endblock %}

{% block css %}
<style>
    table#estrategias tr {
        cursor: pointer;
    }

</style>
{% endblock %}

{% block content %}
<div class="container">

    <div class="container">
        <h4 class="text-center">Seleccionar una estrategia</h4>
        <table id="estrategias" class="table table-hover ">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Estado</th>
                </tr>
            </thead>
            
            <tbody>
                {% for e in estrategias %}
                <tr onclick="seleccionar('{{e.id}}')" >
                    <td>{{e.nombre}}</td>
                    <td>
                        {% if e.activo %} 
                        <span class="text-succes">Activa</span>
                        {% else %}
                        <span class="text-danger">Inactiva</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </div>
</div>
    
{% endblock %}

{% block script %}
<script>
function seleccionar(id)
{
    window.location = '{% url "backtesting_config" 0 %}'.replace('0',id);
}
</script>
{% endblock %}