{% extends 'base.html' %}
{% block title %}Bot {{title}}{% endblock %}
{% block nav_title %}Bot{% endblock %}

{% load static %}

{% block action_bar %}

<a class="btn btn-primary  btn-sm" href="{% url 'bot_edit' bot_id %}">Editar Bot</a>
{% if activo > 0 %}
    <a class="btn btn-danger  btn-sm" href="{% url 'bot_toogle_activo' bot_id %}">Desactivar</a>
{% else %}
    <a class="btn btn-success  btn-sm" href="{% url 'bot_toogle_activo' bot_id %}">Activar</a>
{% endif %}
{% if can_delete %}
    <button class="btn btn-danger  btn-sm" onclick="eliminar()">Eliminar</a>
{% endif %}

{% endblock %}

{% block content %}
<div class="container">
    <div class="row py-2">
        <div class="col-2">Estrategia:</div>  
    </div>
    <div class="row py-2">                                  
        <div class="col fw-bold">{{estrategia}} {% if estrategia_activo == 0%} <span class="text-danger">Inactiva</span>{% endif %}</div>                                    
    </div>
    
    <div class="row">

        <div class="d-flex flex-row flex-wrap rounded border border-1 pb-2 mb-1">
            <pre class="py-2" style="font-family: inherit;">{{descripcion}}</pre>
            <div class="w-50 py-2">Intervalo: <b>{{intervalo}}</b></div>

            {% for k,prm in parametros.items %}
                {% if prm.pub %}
                    
                
                    <div class="w-50 py-2">{{prm.d}}: <b>{{prm.str}}</b></div>
                    
                {% endif %}
            {% endfor %}

            
        </div>

    </div>
    {% if activo == 0 %}
    <div class="row">
        <h3 class="text-danger text-center">Bot inactivo</h3>
    </div>
    {% endif %}
    <div class="row pt-3">
        <div class="col-4">Capital USD: <b>{{quote_qty}}</b></div>                                    
        <div class="col-4">Stop Loss General: <b>{{stop_loss}} %</b></div>
        <div class="col-4">Maximo DrowDawn: <b>{{max_drawdown}} %</b></div>                                   
    </div>
    <div class="row pt-3 text-secondary">
        <div class="col">Creado {{creado}}</div>                                    
    </div>

</div>
<div class="container  pb-4" id="run" >
    {% include 'trading_results.html' %}
</div>
<input type="hidden" id="bot_id" value="{bot_id}" >

{% endblock %}

{% block script %}
<script>

$(document).ready( function () {
    load_results();
})

function eliminar()
{
    if (confirm('Confirma eliminar el bot {{nombre}}?'))
    {
        url = "{% url 'bot_delete' bot_id %}"
        data = null
        get_ajax(url,data).done( function (rsp) {
            if (rsp.error)
                html_alert('Errores detectados',rsp.error,'text-danger')
            if (rsp.ok)
            {
                location.href = "{% url 'bots' %}";
            }
        });    

        
    }
}

function load_results() 
{
    url = '{% url "get_result" bot_id=bot_id %}';
    data = {}

    get_ajax(url,data).done( function (rsp) {
        if (rsp.error)
        {
            html_alert('Errores detectados',rsp.error,'text-danger')
        }
        else if (rsp.ok)
        {
            data = rsp.bt.data
            timeUnit = 'minute';
            if (rsp.bt.interval_id.substring(1, 2) == 'd')
                timeUnit = 'day';
            else if (rsp.bt.interval_id.substring(1, 2) == 'h')
                timeUnit = 'hour';
            
            chartDraw(data, rsp.bt.symbol, timeUnit )
            infoDraw(rsp.bt);

        }
    });    
    
}
</script>

{% endblock %}