{% extends 'base.html' %}
{% block title %}Bot {{title}}{% endblock %}
{% block nav_title %}Bot{% endblock %}

{% load static %}

{% block action_bar %}

<a class="btn btn-primary  btn-sm" href="{% url 'bot_edit' bot_id %}">Editar Bot</a>
{% if activo > 0 %}
    <a class="btn btn-danger  btn-sm" href="{% url 'bot_toogle_activo' bot_id %}">Desactivar</a>
{% elif can_activar %}
    <a class="btn btn-success  btn-sm" href="{% url 'bot_toogle_activo' bot_id %}">Activar</a>
{% endif %}
{% if can_delete %}
    <button class="btn btn-danger  btn-sm" onclick="eliminar()">Eliminar</a>
{% endif %}

{% endblock %}

{% block content %}
<div class="container">
    <div class="row py-2">
        <div class="col-2">Estrategia:</div>  
    </div>
    <div class="row py-2">                                  
        <div class="col fw-bold">{{estrategia}} {% if estrategia_activo == 0%} <span class="text-danger">Inactiva</span>{% endif %}</div>                                    
    </div>
    
    <div class="row">

        <div class="d-flex flex-row flex-wrap rounded border border-1 pb-2 mb-1">
            <pre class="py-2" style="font-family: inherit;">{{descripcion}}</pre>
            <div class="w-50 py-2">Intervalo: <b>{{intervalo}}</b></div>

            {% for k,prm in parametros.items %}
                {% if prm.pub %}
                    
                
                    <div class="w-50 py-2">{{prm.d}}: <b>{{prm.str}}</b></div>
                    
                {% endif %}
            {% endfor %}

            
        </div>

    </div>
    {% if activo == 0 %}
    <div class="row">
        <h3 class="text-danger text-center">Bot inactivo</h3>
    </div>
    {% endif %}
    <div class="row pt-3">
        <div class="col-4">Capital USD: <b>{{quote_qty}}</b></div>                                    
        <div class="col-4">Stop Loss General: <b>{{stop_loss}} %</b></div>
        <div class="col-4">Maximo DrowDawn: <b>{{max_drawdown}} %</b></div>                                   
    </div>
    <div class="row pt-3 text-secondary">
        <div class="col">Creado {{creado}}</div>                                    
    </div>

    <div class="row">
        <h5 class="text-info pt-3 ">Resultados</h5>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="resumen">
              <button class="nav-link active" id="resumen-tab" data-bs-toggle="tab" data-bs-target="#resumen-tab-pane" type="button" role="tab" aria-controls="resumen-tab-pane" aria-selected="true">Resumen</button>
            </li>
            <li class="nav-item" role="resumen">
              <button class="nav-link" id="ordenes-tab" data-bs-toggle="tab" data-bs-target="#ordenes-tab-pane" type="button" role="tab" aria-controls="ordenes-tab-pane" aria-selected="false">Ordenes</button>
            </li>
            <li class="nav-item" role="resumen">
                <button class="nav-link" id="trades-tab" data-bs-toggle="tab" data-bs-target="#trades-tab-pane" type="button" role="tab" aria-controls="trades-tab-pane" aria-selected="false">Operaciones</button>
              </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="resumen-tab-pane" role="tabpanel" aria-labelledby="resumen-tab" tabindex="0" >
                <div class="row pt-4">
                    <div class="col-6" id="general" style="font-size: 0.8em;" ></div>
                    <div class="col-3" id="operaciones" style="font-size: 0.8em;" ></div>
                    <div class="col-3" id="indicadores" style="font-size: 0.8em;" ></div>
                </div>
                
            </div>
            <div class="tab-pane fade" id="ordenes-tab-pane" role="tabpanel" aria-labelledby="ordenes-tab" tabindex="0">
                <table class="table-dg table-trade-info">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Par</th>
                            <th>Operacion</th>
                            <th class="text-end">Cantidad</th>
                            <th class="text-end">Precio</th>
                            <th class="text-end">USD</th>
                            <th class="text-end">Comision</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="trades-tab-pane" role="tabpanel" aria-labelledby="trades-tab" tabindex="0">
                <table class="table-dg table-trade-info">
                    <thead>
                        <tr>
                            <th>Compra</th>
                            <th>Venta</th>
                            <th>Duracion (Dias)</th>
                            <th>SL/TP</th>
                            <th class="text-end">Cantidad</th>
                            <th class="text-end">Compra</th>
                            <th class="text-end">Venta</th>
                            <th class="text-end">Resultado USD</th>
                            <th class="text-end">Resultado %</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for t in trades %}
                        <tr>
                            <th>{{t.start|date:"d-m-Y h:i"}}</th>
                            <th>{{t.end|date:"d-m-Y h:i"}}</th>
                            <th>{{t.duracion}}</th>
                            <th>{{t.flag}}</th>
                            <th class="text-end">{{t.buy_acum_base}}</th>
                            <th class="text-end">{{t.buy_avg_price}}</th>
                            <th class="text-end">{{t.sell_avg_price}}</th>
                            <th class="text-end">{{t.result_quote}}</th>
                            <th class="text-end">{{t.result_perc}} %</th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
          </div>
    </div>

</div>

<input type="hidden" id="bot_id" value="{bot_id}" >

{% endblock %}

{% block script %}
<script>

$(document).ready( function () {
    
})

function eliminar()
{
    if (confirm('Confirma eliminar el bot {{nombre}}?'))
    {
        url = "{% url 'bot_delete' bot_id %}"
        data = null
        get_ajax(url,data).done( function (rsp) {
            if (rsp.error)
                html_alert('Errores detectados',rsp.error,'text-danger')
            if (rsp.ok)
            {
                location.href = "{% url 'bots' %}";
            }
        });    

        
    }
}


</script>

{% endblock %}